@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

body {
	margin: 0;
	padding: 0;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	flex-wrap: wrap;
}

/* header*/

.header-wrapper {
	height: 100vh;
	width: 100vmax;
	background: linear-gradient(-45deg, #051F1E, #072D30, #155D6B, #0F5066, #158AC9);
	background-size: 400% 400%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.social-media {
	margin-top: 1rem;
	display: flex;
}

.social-media a {
	text-decoration: none;
	color: #ffffff;
	font-size: 24px;
	padding: 1rem 4rem;
	border: 1px solid #ffffff;
	min-width: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover{
	color: #051F1E;
	background-color: #ffffff;
}

@keyframes backgroundTransition {
	0% {
		background-position: 0% 80%;
	}

	50% {
		background-position: 80% 100%;
	}
	100% {
		background-position: 0% 90%;
	}
}

/* Menu hamburguer*/

.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	cursor: pointer;
	z-index: 9999;
	transition: 400ms ease-in-out 0s;

}

.checkbox .trace {
	width: 50px;
	height: 4px;
	background-color: #ffffff;
	position: absolute;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
	top: 26px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
	top: 46px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
	top: 66px;
	transform: rotate(0);
}

/* MENU */

.menu {
	top: 28px;
	right: 38px;
	background: transparent;
	height: 0;
	width: 0;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px #ffffff;
	z-index: -1;
	transition: 400ms ease-in-out 0.6s;
}

.menu-itens {
	position: fixed;
	top: 50%;
	left: 45%;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 400ms ease-in-out 0.6s;
}

.menu-itens ul {
	list-style-type: none;
}

.menu-itens ul li a{
	margin: 10px;
	padding: 10px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 40px;
	font-family: sans-serif;
}

/* Animação do menu*/

#toggle:checked + .checkbox .trace:nth-child(3) {
	transform: rotate(-45deg);
	background-color: black;
	top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
	transform: translateX(-100px);
	width: 30px;
	visibility: hidden;
	opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(1) {
	transform: rotate(45deg);
	background-color: black;
	top: 47px;
}

#toggle {
	display: none;
}

#toggle:checked ~ .menu-itens{
	visibility: visible;
	opacity: 1;
}

#toggle:checked ~ .menu{
	box-shadow: 0px 0px 0px 100vmax #ffffff;
}

/* CARDS */

.cointainer {
	width: 100%;
	height: auto;
	display: block;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 3ren 0;
}

.card-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.card {
	height: 300px;
	width: 400px;
	margin: 3ren;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url('gm1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: grayscale(0.7);
	color: white;
	cursor: pointer;
	transition: 0.3s;
}

.card-text {
	width: 40%;
	font-family: 'Playfair Display', sans-serif;
	letter-spacing: 1px;
	color: rgb(15, 80, 102);
	text-align: justify;
}

.card-wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.card-wrapper::before {
	content: '';
	position: absolute;
	height: 100px;
	width: 100px;
	display: block;
	border: 1px solid #ffffff;
	opacity: 0;
	transition: 0.3s;
}

.card-wrapper h2 {
	font-size: 40px;
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
	transition: 0.3s;
}

.card-wrapper p {
	font-size: 0;
	visibility: hidden;
	opacity: 0;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s;
}

.card:hover {
	filter: unset;
}

.card:hover > .card-wrapper::before {
	opacity: 1;
	width: 350px;
	height: 250px;
}


footer.rodape {
	display: block;
	clear: both;
	border-top: 1px solid #606060;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 30px;
	background-color: #0F5066;
}

footer.rodape h1 {
	font-family: sans-serif;
	font-size: 20px;
	display: inline-block;
	letter-spacing: 4px;
	justify-content: space-evenly;
	text-shadow: 1px 1px 1px black;
}

footer.rodape p {
	font-family: sans-serif;
	font-size: 20px;
	display: inline-block;
	justify-content: space-evenly;
	text-shadow: 1px 1px 1px black;
}


/*Responsivo*/

@media (max-width 800px){
	.social-media {
		display: flex;
		flex-direction: column;
	}

	.cointainer {
		margin-top: 0;
	}

	.card-container {
		flex-direction: column;
	}

	.cointainer .card-container:nth-child(1),
	.cointainer .card-container:nth-child(3){
		flex-direction: column-reverse;
	}

	.card {
		height: 250px;
		width: 250px;
	}

	.card-text {
		width: 90%;
		margin-top: 28px;
		text-align: center;
	}

	.card:hover > .card-wrapper::before {
		height: 190px;
		width: 190px;
	}
}